.coverage
.vs/
.idea/
.venv/
.env/
CppProperties.json
__pycache__/
*.pytest_cache/
bin/
htmlcov/
rtx-remix/
*.dxvk-cache
*_d3d9.log
metrics.txt
remixapi.dll
remixapi.exp
remixapi.lib
remixapi.obj
build/