.coverage
.vs/
.idea/
.venv/
.env/
*.pyproj
*.sln
CppProperties.json
__pycache__/
*.pytest_cache/
bin/
htmlcov/
rtx-remix/
*.dxvk-cache
*_d3d9.log
metrics.txt
remixapi.dll
remixapi.pdb
remixapi.exp
remixapi.lib
remixapi.obj
vc140.pdb
build/
*.dds
!test.dds
rtx.conf
dxvk.conf
